# Ignore local Python environments
venv/
.venv/
__pycache__/
*.pyc

# Ignore Airflow docker environment files and logs
airflow-docker/
!airflow-docker/
!airflow-docker/airflow/
!airflow-docker/airflow/dags/
!airflow-docker/airflow/dags/**
airflow/
utils/
logs/
plugins/